* {
    box-sizing: border-box;
}

html {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
    background-color: #eeeeee;
}

.o {
    margin-top: 20px;
    margin-right: 20px;
    padding-top: 5px;
    background-color: #222222;
    background: linear-gradient(45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradientBackground 15s ease infinite;
    padding-right: 30px;
    border-radius: 20px;
    min-height: 200px;
    hyphens: unset;
    padding-left: 20px;
}

@keyframes gradientBackground {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.wrapper {
    display: flex;
    align-items: center;
    max-width: 1000px;
    /* min-height: calc(100vh - 100px); */
    min-height: calc(100vh);
    margin: 0 auto;
}

.carousel {
    position: relative;
    height: 100px;
    background-color: #ffffff;
    display: flex;
    max-width: 100%;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 5px 5px 20px #00000044;
}

.carousel::before,
.carousel::after {
    content: "";
    height: 100%;
    width: 200px;
    position: absolute;
    top: 0;
    z-index: 1;
    background: linear-gradient(to right, #ffffff 0%, transparent 100%);
}

.carousel::before {
    left: 0;
}

.carousel::after {
    right: 0;
    transform: rotate(180deg);
}

.carousel:hover .slide {
    animation-play-state: paused;
}

.slide {
    height: 100%;
    display: flex;
    align-items: center;
    animation: slideshow 20s linear infinite;
}

.slide__image {
    height: calc(100% - 40px);
    margin: 0 5px;
}

@keyframes slideshow {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);

    }
}